$primary: white;
$secondary: black;
$secondaryLight:lighten($secondary, 50%);
$lineBreak: #5dabaa;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

body{
    background: white;
    font-size: 18px;
}

.appBody{
    position: relative;
    padding-bottom: 6rem;
}

.lineBreak{
    height: 1px;
    background: $lineBreak;
    opacity: 0.5;
}