@use '../../../index.scss';

.pagination{
    .page-item.active{
        .page-link{
            color:index.$primary ;
            background-color: index.$secondary ;
            border-color: index.$secondary;
        }
    }
}